<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>57105734546-1kdbh8d6r2rk8jlb4motmrlsnt52b1ii.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.57105734546-1kdbh8d6r2rk8jlb4motmrlsnt52b1ii</string>
	<key>API_KEY</key>
	<string>AIzaSyBz12GAxgf5OPWvHHQDFKjY1HUbL3APYVM</string>
	<key>GCM_SENDER_ID</key>
	<string>57105734546</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.maintenanceapp</string>
	<key>PROJECT_ID</key>
	<string>finalmaintenanceapp</string>
	<key>STORAGE_BUCKET</key>
	<string>finalmaintenanceapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:57105734546:ios:ca0e4da038f5db300d3f4b</string>
	<key>DATABASE_URL</key>
	<string>https://finalmaintenanceapp.firebaseio.com</string>
</dict>
</plist>